NODE_ENV=development
PORT=3001

MONGODB_URL=your_mongodb_connection_string

JWT_SECRET=your_jwt_secret
JWT_EXPIRES_IN=1d

CLIENT_URL=http://localhost:3000

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

DEFAULT_USER_IMAGE=https://res.cloudinary.com/your-cloud/image/upload/default-user.png

PAYMOB_API_KEY=

PAYMOB_INTEGRATION_ID=

PAYMOB_IFRAME_ID=

PAYMOB_HMAC=

PAYMOB_BASE_URL=https://accept.paymob.com